/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */

/*#logo {
    position: absolute;
    left: 156px;
    top: 20px;
    bottom: 20px;
}*/

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.menu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #444444;
    line-height: 14px;
    padding: 10px 14px;
}

.button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: #575445;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    line-height: 22px;
    border-radius: 6px;

}

#btn1 {
    padding: 10px 18px;
    margin-right: 10px;

}

#btn2 {
    padding: 10px 45px;
    margin-left: 10px;
}

.text1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;
}

.text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.text3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #CACCD1;
}

.block1text1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;

}

.block1text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #575445;

}

.block1text3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #575445;

}

.block1btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    text-decoration: none;

}